/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 */

* {
    text-color:  rgba(217, 216, 216, 1);
    background-color:  rgba(0,0,0,0);
    dark: rgba(35, 31, 32, 1);

    // Black
    black:       rgba(35, 31, 32, 1);
    lightblack:  rgba(35, 31, 32, 0.85);

    //
    // Red
    red:         rgba(238, 46, 36, 1);
    lightred:    rgba(238, 46, 36, 1);

    //
    // Green
    green:       rgba(217, 216, 216, 1);
    lightgreen:  rgba(217, 216, 216, 1);

    //
    // Yellow
    yellow:      rgba(255, 210, 4, 1);
    lightyellow: rgba(255, 210, 4, 1);

    //
    // Blue
    blue:        rgba(217, 216, 216, 1);
    lightblue:   rgba(217, 216, 216, 1);

    //
    // Magenta
    magenta:      rgba(217, 216, 216, 0.7);
    lightmagenta: rgba(217, 216, 216, 0.4);

    //
    // Cyan
    cyan:        rgba(217, 216, 216, 1);
    lightcyan:   rgba(217, 216, 216, 1);

    //
    // White
    white:       rgba(217, 216, 216, 0.7);
    lightwhite:  rgba(217, 216, 216, 1);

    //
    // Bold, Italic, Underline
    highlight:   bold rgba(217, 216, 216, 1);
}

window {
    height:   100%;
    width: 30em;
    location: west;
    anchor:   west;
    border:  0px 0px 0px 0px;
    text-color: @lightwhite;
}

mode-switcher {
    border: 0px 0px 0px 0px;
    background-color: @lightblack;
    padding: 4px;
}

button selected {
    border-color: @lightwhite;
    text-color: @lightwhite;
}

inputbar {
    text-color: @lightwhite;
    padding: 4px;
}

mainbox {
    expand: true;
    background-color: @lightblack;
    spacing: 1em;
}

listview {
    padding: 0em 0.4em 0em 1em;
    dynamic: false;
    lines: 0;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}

element selected normal {
    background-color: @lightwhite;
    text-color: @dark;
}

element normal active {
    text-color: @lightwhite;
}

element normal urgent {
    text-color: @lightred;
}

element alternate normal {
}

element alternate active {
    text-color: @lightwhite;
}

element alternate urgent {
    text-color: @lightred;
}

element selected active {
    background-color: @lightwhite;
    text-color: @dark;
}

element selected urgent {
    background-color: @lightred;
    text-color: @dark;
}

error-message {
    expand: true;
    background-color: @red;
    border-color: @lightred;
    border: 2px;
    padding: 1em;
}
